body {
	font-family: helvetica;
	color: #777;
	font-size: 16px;
}

.container {
	height: 400px;
	width: 600px;
	color: #333;
	font-family: helvetica;
	font-weight: 100;
	padding: 1em 2em;
}

a {
	color: #FF3A35;
	text-decoration: none;
	font-weight: 500;
}

a:hover {
	color: gold;
}

/* SEARCH FORM */
/* Submit button */
#artist-search {
	background-color: #FF3A35;
	height: 3em;
	width: 7em;
	border: none;
	color: #FFF;
	font-size: 1em;
	border-radius: 2em;
}
#artist-search:hover {
	background-color: gold;
	cursor: pointer;
}
/* Text input */
#artist {
	height: 3em;
	font-size: 1em;
	color: #777;
	padding: 0.75em;
	margin-right: 1em;
}

.disclaimer {
	font-size: 0.6em;
}
/*******************/

/* RESULTS */
.result {
	display: none;
	/*border: 1px solid black;*/
	margin-top: 1em;
}

#result-image,
.disp-img {
	position: relative;
	margin: 0em auto;
	border: inherit;
	max-width: 400px;
	max-height: 200px;
	z-index: 1;
	display: none;
}

.label {
	position: absolute;
	float: left;
	background: #FF3A35;
    font-size: 1.5em;
    padding: 0.5em;
    z-index: 2;
    color: white;
    /*margin-top: -0.75em;*/
    box-shadow: 2px 2px 2px 2px rgba(90,90,90,0.7);
}

.result-goodies {
	position: relative;
	z-index: 1;
	max-height: 250px;
	border: inherit;
	display: inline-block;
	margin-top: 1em;
	padding-top: 1em;
	padding-right: 1em;
	overflow-x: auto;
	overflow-y: hidden;
	margin-left: 1em;
	width: 95%;
	background-color: rgba(255,255,255,0.7);
}

ol {
	margin-top: 2em;
	margin-bottom: 2em;
}

/*******************/

/* LIST RESULTS */
.album-item {
	display: table-cell;
	padding: 0.5em;
}
.album-image {
	max-width: 150px;
	max-height: 150px;
}
/*******************/